<h2>My Heroes</h2>

<div class="input-group mb-3">
    <input #heroName type="text" class="form-control" placeholder="Hero name" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" title="add hero" (click)="add(heroName.value); heroName.value=''">Add</button>
    </div>
</div>

<ul class="list-group text-center ulHeroes">
    <li class="list-group-item" *ngFor="let hero of heroes">
        <a class="list-group-item list-group-item-action" routerLink="/detail/{{hero.id}}">
             {{hero.name}}
             <button type="button" class="btn btn-dark" title="delete hero" (click)="delete(hero)">x</button>
        </a>
    </li>
</ul>