<div class="container container-lg">
    <div class="input-group">
        <input #heroName type="text" class="form-control" placeholder="Hero name" aria-describedby="basic-addon2">
        <input #heroDescription type="text" class="form-control" placeholder="Hero description"
            aria-describedby="basic-addon2">
        <input #heroImage type="file" class="form-control" placeholder="Hero image" aria-describedby="basic-addon2">
        <input #heroCoverImage type="file" class="form-control" placeholder="Hero cover image"
            aria-describedby="basic-addon2">
    </div>
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" title="add hero"
            (click)="add(heroName.value, heroDescription.value, heroImage.value, heroCoverImage.value); heroName.value=''">Add</button>
    </div>
    <div class="row mb-5">
        <div class="col-sm-6" *ngFor="let hero of heroes">
            <div class="cardbox" style="color: black">
                <div class="pb-1 bg-gradient-warning"></div>
                <div class="cardbox-body">
                    <div class="d-flex">
                        <div>
                            <div class="lead mb-2">{{hero.name}}</div>
                            <p><em class="ion-ios-mail mr-2 icon-lg text-warning"></em><span>{{hero.id}}</span></p>
                            <button class="btn btn-warning" type="button"
                                routerLink="/detail/{{hero.id}}">Details</button>
                        </div>
                        <div class="ml-auto"><img alt="hero" class="shadow-z5 thumb80 rounded"
                                src="assets/img/user/04.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>