<div class="row mt-2 py-5 px-3 mb-5" style="height: 87vh;">
    <div class="col-lg-4 col-md-4 col-sm-4 mb" *ngFor="let user of Profile | paginate: { itemsPerPage: 6, currentPage: pageNumber, totalItems:Count }">
        <div class="content-panel pn">
            <div id="profile-01" [ngStyle]="{'background-image': 'url('+ user.profileImage +')'}">
                <h3>{{user.fullName}}</h3>
                <h6>{{user.userName}}</h6>
            </div>
            <div class="profile-01 centered" routerLink="/add-blog">
                <p>DETAILS</p>
            </div>
            <div class="centered">
                <h6><i class="fa fa-envelope"></i><br>{{user.email}}</h6>
            </div>
        </div>
        <!-- /content-panel -->
    </div>
    <div class="pgnCustom pull-right">
        <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
</div>