<nav class="navbar navbar-expand fixed-top">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav text-center mr-auto">
            <li>
                <h5>{{getDocTitle()}}</h5>
            </li>
        </ul>
        <ul class="navbar-nav text-center">
            <li class="nav-item">
                <button class="btn btn-danger" (click)=clearLocalStorage()>
                    Logout
                </button>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/goofy5752/AngularJS"><i class="fa fa-github" aria-hidden="true"></i></a>
            </li>
            <app-hero-search></app-hero-search>
        </ul>
    </div>
</nav>