<nav class="navbar navbar-expand fixed-top">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav text-center mr-auto">
            <li>
                <h5>{{getDocTitle()}}</h5>
            </li>
        </ul>
        <ul class="navbar-nav text-center">
            <li class="nav-item">
                <a class="nav-link user-profile" routerLink="/user/profile" title="Profile">
                    <i class="fa fa-user-secret fa-lg"></i>
                </a>
            </li>
            <li class="nav-item mr-2">
                <a class="nav-link sign-out" title="Sign-Out" routerLink="/user/login" (click)=clearLocalStorage()>
                    <i class="fa fa-sign-out fa-lg"></i>
                </a>
            </li>
            <app-hero-search></app-hero-search>
        </ul>
    </div>
</nav>