<div class="row pt-5 px-3">
    <div class="col-12 text-center mb-3">
        <h3><b>Search filter by title</b></h3>
    </div>
    <div class="col-12">
        <label>Search by title</label>
        <input class="form-control" type="text" [(ngModel)]="movieFilter.title" placeholder="Title">
    </div>
    <hr>
</div>
<div class="row text-center p-5">
    <div class="col-sm-12 col-md-6 col-lg-3 mb-5" *ngFor="let singleMovie of likedMovies | filterBy: movieFilter | paginate: { itemsPerPage: 12, currentPage: pageNumber, totalItems:Count }">
        <div class="moviesCustom">
            <img class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{singleMovie.posterPath}}" width="100%" height="320px">
            <h4 title="{{singleMovie.title}}">{{singleMovie.title}}</h4>
            <p>Release date: {{singleMovie.releaseDate | date:'longDate'}}</p>
            <p>Total vote counts: {{singleMovie.voteCount}}</p>
            <div class="bg-white">
                <hr>
                <p><b>Average vote: {{singleMovie.voteAverage}} out of 5</b></p>
                <ng-template #t let-fill="fill">
                    <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                </ng-template>
                <ngb-rating [(rate)]="singleMovie.voteAverage" [starTemplate]="t" [readonly]="!readonly" max="5"></ngb-rating>
            </div>
            <button class="btn btn-danger removeMovieButton" (click)="dislikeMovie(singleMovie.id)" title="Delete - {{singleMovie.title}}"><i class="fa fa-trash"
            aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="col-12 text-center">
        <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
</div>