<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="backgroundCustom">
    <div class="container-fluid emp-profile" *ngIf="profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="profile-img">
                        <img src="{{profile.profileImage}}" alt="profile-picture" />
                        <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" #profileImage name="file" (change)="stageProfileImageFile()" />
                        </div>
                    </div>
                    <button class="btn btn-success" (click)="updateProfileImage()">Save profile picture</button>
                    <div class="profile-work text-left">
                        <p>WORK LINK</p>
                        <a href="https://github.com/goofy5752">Github profile</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            {{profile.fullName}}
                        </h5>
                        <h6>
                            Web Developer
                        </h6>
                        <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li>
                                <h3>My info</h3>
                            </li>
                        </ul>
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Username</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile.userName}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" #email class="inputCustom" placeholder="{{profile.email}}" />
                                        <button type="button" class="btn btn-success btnCust" (click)="updateEmail(email.value)"><i class="fa fa-floppy-o"
                                    aria-hidden="true"></i></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Posts</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile.blogs.length}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Comments</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile.comments.length}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Liked movies</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile.likedMovies.length}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Liked posts</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile.postLikes}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Disliked posts</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{profile.postDislikes}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>