<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
        <label>Name:
      <input type="text" class="form-control" [(ngModel)]="hero.name" placeholder="Name"/>
    </label>
    </div>
    <button type="button" class="btn btn-dark mx-2" (click)="goBack()"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-dark mx-2" (click)="save()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
</div>