.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

.wd-sm {
    width: 150px;
    height: 150px
}

.inputCustom {
    width: 150px;
    background-color: #fff;
    list-style-type: none;
    border-radius: 7px;
    height: 37px;
    text-align: center
}

.coverImg {
    max-width: 100%;
    max-height: 100%;
}

.contentImg {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
}

.section-container {
    margin-top: 60px;
}

.cardbox-heading {
    text-align: center;
}

@media only screen and (max-width:1100px) {
    .smallHideCustom {
        display: none;
    }
}