<ng-template #customTemplate let-options="options">
    <div [class]="'popover ' + options.placement" style="display: block">
        <div class="fond">
            <div class="boxAdd">
                <div class="card card-info" style="margin: 0 !important;">
                    <div class="card-header">
                        <p class="card-title"><b>{{popoverTitle}}</b></p>
                    </div>
                    <div class="card-body">
                        <input #password type="password" class="form-control" />
                    </div>
                    <div class="card-footer">
                        <button type="submit" title="Delete Movie" class="btn btn-primary" (click)="deletePost(blog, password.value)">Confirm</button>
                        <button id="cancel" type="button" (click)="options.onCancel({clickEvent: $event})" class="btn btn-danger float-right">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<div class="row" style="padding: 25px;">

    <!-- Post Content Column -->
    <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{title}}</h1>

        <!-- Author -->
        <p class="lead">
            by
            <a href="#">{{authorUserName}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{publishedOn | date: 'medium'}}</p>
        <button type="submit" *ngIf="globals.isAdmin || globals.isEditor" class="btn btn-danger" mwlConfirmationPopover placement="top" [customTemplate]="customTemplate" (confirm)="confirmClicked = true">Delete Post</button>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{blogImage}}" alt="" width=100% height=fit-content>

        <hr>

        <!-- Post Content -->
        <p [innerHTML]="content" class="break-word"></p>



        <div class="text-right">
            <span class="likeButton">
                <button class="btn btn-primary" (click)="likePost()">
                    <i class="fa fa-thumbs-up"></i>
                    Like | {{likes}}
                </button>
            </span>
            <span class="likeButton ml-2">
                    <button class="btn btn-danger" (click)="dislikePost()">
                        <i class="fa fa-thumbs-down"></i>
                        Dislike | {{dislikes}}
                    </button>
            </span>
        </div>

        <hr>

        <!-- Comments Form -->
        <div class="card my-4 mb-5">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <angular-editor #comment [config]="editorConfig">
                        </angular-editor>
                    </div>
                    <button type="submit" (click)="postComment(comment.value)" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <!-- Single Comment -->
        <div class="break-word mb-5" *ngFor="let comment of orderedComments">
            <ul class="media-list">
                <li class="media">
                    <a href="#" class="pull-left">
                        <img src="{{comment.profileImage}}" class="img-circle">
                    </a>
                    <div class="media-body">
                        <span class="text-muted pull-right">
                            <small class="text-muted">{{comment.publishedOn | date: 'medium'}}</small>
                        </span>
                        <strong class="text-success">@{{comment.userName}}</strong>
                        <p *ngIf="!comment.isDeleted" [innerHTML]="comment.text">
                        </p>
                        <p class="text-danger" *ngIf="comment.isDeleted">
                            Comment is deleted
                        </p>
                    </div>
                </li>
            </ul>
            <hr>
        </div>
    </div>
</div>