<div>
    <div class="row mb-2 p-5" style="height: 100%;">
        <div class="col-md-6 blogBox" *ngFor="let blog of Blog | paginate: { itemsPerPage: 6, currentPage: pageNumber, totalItems:Count }">
            <div class="card flex-md-row box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="mb-0 text-dark">
                        {{blog.title}}
                    </h3>
                    <div class="mb-1 text-muted">{{blog.publishedOn | date}}</div>
                    <p class="card-text mb-auto" [innerHTML]="blog.content"></p>
                    <a routerLink="{{blog.id}}">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-md-block" src="{{blog.blogImage}}" width=45% height=fit-content alt="Card image cap">
            </div>
        </div>
    </div>
    <div class="pgnCustom pull-right">
        <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
</div>