.pgnCustom {
    position: absolute;
    /* bottom: 0; */
    right: 0;
    margin-top: -88px!important;
}

.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    /* space for ellipsis */
}

.blogBox {
    margin-bottom: 35px;
}