<app-nav></app-nav>
<app-sidebar></app-sidebar>
<div class="container-fluid text-center" style="margin-top: 100px; padding-left: 260px;">
    <hr size="100">
    <div class="row">
        <div class="vl"></div>
        <div class="col-7">
            <div class="content" role="main">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="vl"></div>
        <div class="col" style="margin-bottom: 75px;">
            <p>
                <app-messages></app-messages>
            </p>
        </div>
    </div>
</div>

<app-footer></app-footer>