<app-nav></app-nav>

<div class="container-fluid text-center" style="margin-top: 100px;">
    <div class="row">
        <div class="col">
            <nav>
                <p class="align-items"><a routerLink="/heroes">Heroes</a></p>
                <p><a routerLink="/dashboard">Dashboard</a></p>
            </nav>
        </div>
        <div class="vl"></div>
        <div class="col-7">
            <div class="content" role="main">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="vl"></div>
        <div class="col">
            <p>
                <app-messages></app-messages>
            </p>
        </div>
    </div>
</div>

<app-footer></app-footer>