<div class="cardbox mb-5"><img class="customImg" src="https://res.cloudinary.com/goofy5752/image/upload/v1568817396/HeroUploads/dark-theme_ijeqfk.jpg">
    <div class="cardbox-body" style="color: white; text-align: -webkit-center;">
        <form action="" novalidate="" class="ng-untouched ng-pristine ng-valid">
            <div class="form-group"><label>Name</label><input #heroName class="form-control" type="text"></div>
            <div class="form-group"><label>Description</label><textarea #heroDescription class="form-control" rows="3"></textarea></div>
            <div class="form-group"><label>Real name</label><input #heroRealName class="form-control" type="text"></div>
            <div class="form-group"><label>Birthday</label><input #heroBirthday class="form-control" type="text"></div>
            <div class="form-group"><label>Gender</label><input #heroGender class="form-control" type="text"></div>
            <div class="form-group">
                <p>Profile image</p><label class="custom-file"><input #heroImage  class="custom-file-input" id="file"
                            type="file" (change)="stageHeroImageFile()"><span class="custom-file-control"></span></label>
            </div>
            <div class="form-group">
                <p>Cover image</p><label class="custom-file"><input #heroCoverImage class="custom-file-input" id="file"
                            type="file" (change)="stageHeroCoverImageFile()"><span class="custom-file-control"></span></label>
            </div>
            <button class="btn btn-info" type="button" (click)="add(heroName.value, heroDescription.value, heroRealName.value, heroBirthday.value, heroGender.value);">Create new hero</button>
        </form>
    </div>
</div>