body {
    background-color: #04c582
}

input.form-control,
input.form-control:focus {
    background-color: #636b7b;
    color: #fff;
    border: 1px solid #636b7b
}

input.form-control:focus {
    box-shadow: none
}

button[type=submit].btn {
    border-radius: 20px;
    background-color: #04c582;
    color: #fff
}

div.form-group label:not(.text-danger) {
    color: #545d6a;
    font-weight: 700
}