<div class="sidebar-container">
    <div class="brand-header">
        <div class="float-left pt-4 text-muted sidebar-close">
        </div><a class="brand-header-logo"><span class="brand-header-logo-text">Welcome to</span></a>
    </div>
    <div class="sidebar-content">
        <div class="sidebar-toolbar">
            <div class="sidebar-toolbar-background">
            </div>
        </div>
        <nav class="sidebar-nav">
            <ul>
                <li>
                    <div class="sidebar-nav-heading text-center">
                        <h4>MENU</h4>
                    </div>
                </li>
                <li class="">
                    <a routerLink="/dashboard">
                        <span>Dashboard</span></a>
                </li>
                <li class="">
                    <a routerLink="/heroes">
                        <span>Heroes</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>