.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

.container-overlap {
    position: relative;
}

.wd-sm {
    width: 150px;
    height: 150px
}

.inputCustom {
    width: 150px;
    background-color: #fff;
    list-style-type: none;
    border-radius: 7px;
    height: 37px;
    text-align: center
}

.coverImg {
    max-width: 100%;
    max-height: 100%;
}

.contentImg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
}

.section-container {
    margin-top: 60px;
}

.cardbox-heading {
    text-align: center;
}

@media only screen and (max-width:1200px) {
    .smallHideCustom {
        display: none;
    }
    .contentImg {
        margin-bottom: 50px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.moviesCustom {
    background-color: rgba(0, 0, 0, .15);
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    color: #d3d3d3;
}

.full {
    color: red;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: goldenrod;
}

.removeMovieButton {
    width: 100%;
}

.popover-title {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    color: inherit;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}