<section class="section-container" *ngIf="hero">
    <div class="container-overlap text-center"><img class="coverImg" src="{{hero.coverImage}}">
        <div class="contentImg">
            <img alt="user" class="wd-sm rounded-circle img-thumbnail" src={{hero.image}}>
            <div class="text-white">
                <input type="text" class="inputCustom" [(ngModel)]="hero.name" placeholder="Name" />
                <button type="button" class="btn btn-success mx-2" (click)="save()"><i class="fa fa-floppy-o"
                            aria-hidden="true"></i></button><br>
                <small class="smallHideCustom">
                        {{hero.description}}
                    </small>
            </div>
        </div>
    </div>
    <div class="container">
        <form class="cardbox ng-untouched ng-pristine ng-valid" novalidate="">
            <h5 class="cardbox-heading pb-0">Personal Information</h5>
            <div class="cardbox-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td><em class="ion-ios-document icon-fw mr-3"></em>Real name</td>
                            <td>{{hero.realName}}</td>
                        </tr>
                        <tr>
                            <td><em class="ion-ios-egg icon-fw mr-3"></em>Birthday</td>
                            <td><span class="is-editable text-inherit">{{hero.birthday | date: 'longDate'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td><em class="ion-ios-man icon-fw mr-3"></em>Gender</td>
                            <td>
                                <span class="is-editable text-inherit">{{hero.gender}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
        <ng-template #t let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
            </span>
        </ng-template>
        <div class="row text-center">
            <div class="col-md-6 mb-5" *ngFor="let singleMovie of allMovies">
                <div class="moviesCustom">
                    <img class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{singleMovie.poster_path}}" width="400px" height="600px">
                    <h4>{{singleMovie.title}}</h4>
                    <p>Release date: {{singleMovie.release_date}}</p>
                    <p>Total vote counts: {{singleMovie.vote_count}}</p>
                    <div class="bg-white">
                        <hr>
                        <p><b>Average vote: {{singleMovie.vote_average}} out of 5</b></p>
                        <ngb-rating [(rate)]="singleMovie.vote_average" [starTemplate]="t" [readonly]="!readonly" max="5"></ngb-rating>
                    </div>
                </div>
            </div>
        </div>
        <div class="cardbox">
            <h5 class="cardbox-heading">Activity</h5>
            <div class="cardbox-body pb-0">
                <table class="table table-striped text-center">
                    <tbody>
                        <th>Action</th>
                        <th>New value</th>
                        <th>Old value</th>
                        <th>Edited on</th>
                        <th>Options</th>
                        <tr *ngFor="let hero of hero.editHistory; let i = index;">
                            <td><em class="ion-ios-document icon-fw mr-3"></em>Edit</td>
                            <td>{{hero.oldValue}}</td>
                            <td>{{hero.newValue}}</td>
                            <td>{{hero.editedOn | date: 'medium'}}</td>
                            <td><button class="btn btn-danger" (click)="delete(hero)" title="Delete"><i class="fa fa-trash"
                                aria-hidden="true"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>