<section class="section-container" *ngIf="hero">
    <div class="container-overlap text-center"><img class="coverImg" src="{{hero.coverImage}}">
        <div class="contentImg">
            <img alt="user" class="wd-sm rounded-circle img-thumbnail" src={{hero.image}}>
            <div class="text-white">
                <input type="text" class="inputCustom" [(ngModel)]="hero.name" placeholder="Name" />
                <button type="button" class="btn btn-success mx-2" (click)="save()"><i class="fa fa-floppy-o"
                            aria-hidden="true"></i></button><br>
                <small class="smallHideCustom">
                        {{hero.description}}
                    </small>
            </div>
        </div>
    </div>
    <div class="container">
        <form class="cardbox ng-untouched ng-pristine ng-valid" novalidate="">
            <h5 class="cardbox-heading pb-0">Personal Information</h5>
            <div class="cardbox-body">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td><em class="ion-ios-document icon-fw mr-3"></em>Real name</td>
                            <td>{{hero.realName}}</td>
                        </tr>
                        <tr>
                            <td><em class="ion-ios-egg icon-fw mr-3"></em>Birthday</td>
                            <td><span class="is-editable text-inherit">{{hero.birthday | date: 'longDate'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td><em class="ion-ios-man icon-fw mr-3"></em>Gender</td>
                            <td>
                                <span class="is-editable text-inherit">{{hero.gender}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
        <div class="text-center mb-5">
            <h5>{{hero.name}} Filmography</h5>
        </div>
        <div class="row text-center">
            <div class="col-md-3 mb-5" *ngFor="let singleMovie of allMovies">
                <div class="moviesCustom">
                    <img class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{singleMovie.poster_path}}" width="100%" height="400px">
                    <h4 title="{{singleMovie.title}}">{{singleMovie.title}}</h4>
                    <p>Release date: {{singleMovie.release_date}}</p>
                    <p>Total vote counts: {{singleMovie.vote_count}}</p>
                    <div class="bg-white">
                        <hr>
                        <p><b>Average vote: {{singleMovie.vote_average}} out of 5</b></p>
                        <ng-template #t let-fill="fill">
                            <span class="star" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                            </span>
                        </ng-template>
                        <ngb-rating [(rate)]="singleMovie.vote_average" [starTemplate]="t" [readonly]="!readonly" max="5"></ngb-rating>
                    </div>
                    <ng-template #customTemplate let-options="options">
                        <div [class]="'popover ' + options.placement" style="display: block">
                            <div class="fond">
                                <div class="boxAdd">
                                    <div class="card card-info" style="margin: 0 !important;">
                                        <div class="card-header">
                                            <h5 class="card-title">{{popoverTitle}}</h5>
                                        </div>
                                        <div class="card-body">
                                            <label>Password</label>
                                            <input #password type="password" class="form-control" />
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" title="Delete Movie" class="btn btn-primary" (click)="deleteMovie(singleMovie, password.value)">Confirm</button>
                                            <button id="cancel" type="button" (click)="options.onCancel({clickEvent: $event})" class="btn btn-danger float-right">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <button class="btn btn-danger removeMovieButton" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="top" [customTemplate]="customTemplate" (confirm)="confirmClicked = true" title="Delete Movie"><i class="fa fa-trash"
                    aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        <div class="cardbox">
            <h5 class="cardbox-heading">Activity</h5>
            <div class="cardbox-body pb-0">
                <table class="table table-striped text-center">
                    <tbody>
                        <th>Action</th>
                        <th>New value</th>
                        <th>Old value</th>
                        <th>Edited on</th>
                        <th>Options</th>
                        <tr *ngFor="let hero of hero.editHistory; let i = index;">
                            <td><em class="ion-ios-document icon-fw mr-3"></em>Edit</td>
                            <td>{{hero.oldValue}}</td>
                            <td>{{hero.newValue}}</td>
                            <td>{{hero.editedOn | date: 'medium'}}</td>
                            <td><button class="btn btn-danger" (click)="deleteHistory(hero)" title="Delete History"><i class="fa fa-trash"
                                aria-hidden="true"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>