<div class="container container-lg">
    <div class="row mt-2" style="height: 100%;">
        <div class="col-md-4 mb-2" *ngFor="let hero of Hero | paginate: { itemsPerPage: 9, currentPage: pageNumber, totalItems:Count }">
            <ng-template #customTemplate let-options="options">
                <div [class]="'popover ' + options.placement" style="display: block">
                    <div class="fond">
                        <div class="boxAdd">
                            <div class="card card-info" style="margin: 0 !important;">
                                <div class="card-header">
                                    <p class="card-title"><b>{{popoverTitle}}</b></p>
                                </div>
                                <div class="card-body">
                                    <input #password type="password" class="form-control" />
                                </div>
                                <div class="card-footer">
                                    <button type="submit" title="Delete Character" class="btn btn-primary" (click)="delete(hero, password.value)">Confirm</button>
                                    <button id="cancel" type="button" (click)="options.onCancel({clickEvent: $event})" class="btn btn-danger float-right">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <div class="content-panel pn mb-2">
                <div id="profile-01" [ngStyle]="{'background-image': 'url('+ hero.image +')'}">
                    <h3>{{hero.name}}</h3>
                    <h6>{{hero.realName}}</h6>
                </div>
                <div class="text-center" *ngIf="globals.isAdmin">
                    <div class="profile-01 centered" style="float: left; width: 50%;" routerLink="/detail/{{hero.id}}">
                        <p>DETAILS</p>
                    </div>
                    <div class="profile-02 centered" style="float: right; width: 50%;" mwlConfirmationPopover placement="top" [customTemplate]="customTemplate">
                        <p>DELETE</p>
                    </div>
                </div>
                <div *ngIf="!globals.isAdmin" class="profile-01 centered" routerLink="/detail/{{hero.id}}">
                    <p>DETAILS</p>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls class="ngx-pagination" (pageChange)="onPageChange($event)"></pagination-controls>
</div>