@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn {
    outline: 0!important;
    border-radius: 2px;
    font-size: .95rem;
    font-family: inherit;
    line-height: 1.25;
    padding: .5rem 1rem
}

.btn:active {
    box-shadow: 0 0 0 #000
}

.btn-lg {
    padding: .75rem 1.5rem
}

.row {
    margin-right: -4px;
    margin-left: -4px
}

.row .col-1,
.row .col-10,
.row .col-11,
.row .col-12,
.row .col-2,
.row .col-3,
.row .col-4,
.row .col-5,
.row .col-6,
.row .col-7,
.row .col-8,
.row .col-9,
.row .col-lg-1,
.row .col-lg-10,
.row .col-lg-11,
.row .col-lg-12,
.row .col-lg-2,
.row .col-lg-3,
.row .col-lg-4,
.row .col-lg-5,
.row .col-lg-6,
.row .col-lg-7,
.row .col-lg-8,
.row .col-lg-9 {
    padding-right: 4px;
    padding-left: 4px
}

@media only screen and (min-width:480px) {
    .row {
        margin-right: -8px;
        margin-left: -8px
    }
    .row .col-1,
    .row .col-10,
    .row .col-11,
    .row .col-12,
    .row .col-2,
    .row .col-3,
    .row .col-4,
    .row .col-5,
    .row .col-6,
    .row .col-7,
    .row .col-8,
    .row .col-9,
    .row .col-lg-1,
    .row .col-lg-10,
    .row .col-lg-11,
    .row .col-lg-12,
    .row .col-lg-2,
    .row .col-lg-3,
    .row .col-lg-4,
    .row .col-lg-5,
    .row .col-lg-6,
    .row .col-lg-7,
    .row .col-lg-8,
    .row .col-lg-9 {
        padding-right: 8px;
        padding-left: 8px
    }
}

@media only screen and (min-width:992px) {
    .row {
        margin-right: -12px;
        margin-left: -12px
    }
    .row .col-1,
    .row .col-10,
    .row .col-11,
    .row .col-12,
    .row .col-2,
    .row .col-3,
    .row .col-4,
    .row .col-5,
    .row .col-6,
    .row .col-7,
    .row .col-8,
    .row .col-9,
    .row .col-lg-1,
    .row .col-lg-10,
    .row .col-lg-11,
    .row .col-lg-12,
    .row .col-lg-2,
    .row .col-lg-3,
    .row .col-lg-4,
    .row .col-lg-5,
    .row .col-lg-6,
    .row .col-lg-7,
    .row .col-lg-8,
    .row .col-lg-9 {
        padding-right: 12px;
        padding-left: 12px
    }
}

.container-lg {
    padding: .6rem;
    width: auto
}

@media only screen and (min-width:480px) {
    .container-lg {
        padding: 1.2rem
    }
}

.container-lg {
    max-width: 1200px
}

.btn-info {
    background-color: #2199e8
}

.btn-info:hover {
    background-color: #0970e6
}

.content-panel {
    background: #fff;
    box-shadow: 0 3px 2px #aab2bd;
    padding-top: 15px;
    padding-bottom: 5px
}

.pn {
    height: 250px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .2)
}

#profile-01 {
    background: no-repeat center top;
    margin-top: -15px;
    background-attachment: relative;
    background-position: center center;
    min-height: 150px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

#profile-01 h3 {
    color: #fff;
    padding-top: 50px;
    margin: 0;
    text-align: center
}

#profile-01 h6 {
    color: #fff;
    text-align: center;
    margin-bottom: 0;
    font-weight: 900
}

.profile-01 {
    background: #4ecdc4;
    height: 50px
}

.profile-02 {
    background: #d9534f;
    height: 50px
}

.profile-02 p {
    color: #fff;
    padding-top: 15px;
    font-weight: 400;
    font-size: 15px
}

.profile-02:hover {
    background: #daa520;
    -webkit-transition: background-color .6s;
    -moz-transition: background-color .6s;
    -o-transition: background-color .6s;
    transition: background-color .6s;
    cursor: pointer
}

.profile-01:hover {
    background: #5cb85c;
    -webkit-transition: background-color .6s;
    -moz-transition: background-color .6s;
    -o-transition: background-color .6s;
    transition: background-color .6s;
    cursor: pointer
}

.profile-01 p {
    color: #fff;
    padding-top: 15px;
    font-weight: 400;
    font-size: 15px
}

p {
    margin: 0 0 10px
}

.h6,
h6 {
    font-size: 12px;
    margin-top: 10px
}

.centered {
    text-align: center
}

.ngx-pagination {
    position: absolute;
    bottom: 0;
    right: 0
}