@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import '~ngx-toastr/toastr';
.container-fluid {
    margin-top: 40px;
    padding-left: 250px;
}

.row .col-1,
.row .col-10,
.row .col-11,
.row .col-12,
.row .col-2,
.row .col-3,
.row .col-4,
.row .col-5,
.row .col-6,
.row .col-7,
.row .col-8,
.row .col-9,
.row .col-lg-1,
.row .col-lg-10,
.row .col-lg-11,
.row .col-lg-12,
.row .col-lg-2,
.row .col-lg-3,
.row .col-lg-4,
.row .col-lg-5,
.row .col-lg-6,
.row .col-lg-7,
.row .col-lg-8,
.row .col-lg-9,
.row .col-md-1,
.row .col-md-10,
.row .col-md-11,
.row .col-md-12,
.row .col-md-2,
.row .col-md-3,
.row .col-md-4,
.row .col-md-5,
.row .col-md-6,
.row .col-md-7,
.row .col-md-8,
.row .col-md-9,
.row .col-sm-1,
.row .col-sm-10,
.row .col-sm-11,
.row .col-sm-12,
.row .col-sm-2,
.row .col-sm-3,
.row .col-sm-4,
.row .col-sm-5,
.row .col-sm-6,
.row .col-sm-7,
.row .col-sm-8,
.row .col-sm-9,
.row .col-xl-1,
.row .col-xl-10,
.row .col-xl-11,
.row .col-xl-12,
.row .col-xl-2,
.row .col-xl-3,
.row .col-xl-4,
.row .col-xl-5,
.row .col-xl-6,
.row .col-xl-7,
.row .col-xl-8,
.row .col-xl-9,
.row .col-xs-1,
.row .col-xs-10,
.row .col-xs-11,
.row .col-xs-12,
.row .col-xs-2,
.row .col-xs-3,
.row .col-xs-4,
.row .col-xs-5,
.row .col-xs-6,
.row .col-xs-7,
.row .col-xs-8,
.row .col-xs-9 {
    padding-right: 12px;
    padding-left: 12px;
}

.cardbox {
    margin-bottom: 8px;
    margin-top: 20px;
}

.btn,
a {
    cursor: pointer;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    width: 13px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #dc3545;
}