<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 custItem">
            <button class="btn btn-success" [routerLink]="['/admin/add-blog']"><h2>Create new post</h2></button>
        </div>
        <div class="col-md-6 mt-5 custItem">
            <button class="btn btn-info" [routerLink]="['/admin/add-hero']"><h2>Create new hero</h2></button>
        </div>
        <div class="col-md-12 mt-5 custItem">
            <button class="btn btn-primary" [routerLink]="['/admin/user-controller']"><h2>Manage users</h2></button>
        </div>
    </div>
</div>