<div class="sidebar-container">
    <div class="sidebar-background"></div>
    <div class="brand-header">
    </div>
    <div class="sidebar-content">
        <div class="sidebar-toolbar">
            <div class="sidebar-toolbar-background">
            </div>
        </div>
        <nav class="sidebar-nav">
            <ul>
                <li>
                    <div class="sidebar-nav-heading text-center">
                        <h4>MENU</h4>
                    </div>
                </li>
                <li class="">
                    <a (click)="setDocTitle( 'Heroes' )" routerLink="/heroes">
                        <span><img src="https://img.icons8.com/ios/47/ffffff/millennium-rod.png" class="mr-2">Heroes</span></a>
                </li>
                <li class="">
                    <a (click)="setDocTitle( 'Blog' )" routerLink="/blog">
                        <span><img src="https://img.icons8.com/wired/47/ffffff/iron-man.png" class="mr-2 mb-1">Blog</span></a>
                </li>
                <li class="" *ngIf="globals.isEditor">
                    <a (click)="setDocTitle( 'Add new post' )" routerLink="/admin/add-blog">
                        <span><img src="https://img.icons8.com/ios/47/ffffff/spiderman-new.png" class="mr-2">Add new post</span></a>
                </li>
                <li class="" *ngIf="globals.isEditor">
                    <a (click)="setDocTitle( 'Add new post' )" routerLink="/admin/add-hero">
                        <span><img src="https://img.icons8.com/ios/50/000000/popular-man.png" class="mr-2">Add new hero</span></a>
                </li>
                <li class="" *ngIf="globals.isAdmin">
                    <a (click)="setDocTitle( 'Admin panel' )" routerLink="/admin">
                        <span><img src="https://img.icons8.com/wired/47/ffffff/hulk.png" class="mr-2 mb-1">Admin panel</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>