<div class="sidebar-container">
    <div class="sidebar-background"></div>
    <div class="brand-header">

    </div>
    <div class="sidebar-content">
        <div class="sidebar-toolbar">
            <div class="sidebar-toolbar-background">
            </div>
        </div>
        <nav class="sidebar-nav">
            <ul>
                <li>
                    <div class="sidebar-nav-heading text-center">
                        <h4>MENU</h4>
                    </div>
                </li>
                <li class="">
                    <a (click)="setDocTitle( 'Heroes' )" routerLink="/heroes">
                        <span><img src="https://img.icons8.com/ios/50/ffffff/millennium-rod.png" class="mr-2">Heroes</span></a>
                </li>
                <li class="">
                    <a (click)="setDocTitle( 'Add hero' )" routerLink="/add-hero">
                        <span><img src="https://img.icons8.com/ios/50/ffffff/spiderman-new.png" class="mr-2">Add new hero</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>