@charset "UTF-8";
.form-control {
    width: 600px
}

body,
html {
    direction: ltr;
    width: 100%;
    height: 100%;
    min-width: 320px;
    background-color: #f6fbfe;
    font-size: 14px
}

body {
    font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #59676b;
    font-size: 1rem
}

.btn {
    outline: 0!important;
    border-radius: 2px;
    font-size: .95rem;
    font-family: inherit;
    line-height: 1.25;
    padding: .5rem 1rem
}

.btn:active {
    box-shadow: 0 0 0 #000
}

.btn-info {
    color: #fff;
    background-color: #03a9f4;
    border-color: #03a9f4
}

.btn-info:hover {
    color: #fff;
    background-color: #038fce;
    border-color: #0286c2
}

.btn-info:focus {
    box-shadow: 0 0 0 2px rgba(3, 169, 244, .5)
}

.btn-info:disabled {
    color: #fff;
    background-color: #03a9f4;
    border-color: #03a9f4
}

.text-info {
    color: #03a9f4!important
}

.form-control:focus {
    box-shadow: 0 0 0 #000
}

.btn-label {
    position: relative;
    background: 0 0;
    display: inline-block;
    padding: 6px 16px;
    left: -16px;
    border-radius: 3px 0 0 3px
}

.btn-label:after {
    content: "";
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 0;
    width: 1px;
    background-color: rgba(0, 0, 0, .1)
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

header {
    display: block
}

[hidden] {
    display: none
}

button,
input,
textarea {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible
}

button {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    box-sizing: content-box;
    -webkit-appearance: textfield;
    box-sizing: border-box;
    -webkit-appearance: none
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

textarea {
    overflow: auto
}

*,
:after,
:before {
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

button,
input,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

[role=button] {
    cursor: pointer
}

.text-right {
    text-align: right
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}

input[type=checkbox],
input[type=radio] {
    margin: 4px 0 0;
    line-height: normal
}

input[type=file] {
    display: block
}

input[type=range] {
    display: block;
    width: 100%
}

input[type=checkbox]:focus,
input[type=file]:focus,
input[type=radio]:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}

.form-control {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.form-control::-moz-placeholder {
    opacity: 1
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control[disabled],
.form-control[readonly] {
    opacity: 1
}

textarea.form-control {
    height: auto
}

.form-group {
    margin-bottom: 15px
}

input[type=checkbox][disabled],
input[type=radio][disabled] {
    cursor: not-allowed
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.btn:active:focus,
.btn:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}

.btn:focus,
.btn:hover {
    color: #333;
    text-decoration: none
}

.btn:active {
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn[disabled] {
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65
}

.btn-info {
    background-color: #5bc0de
}

.btn-info:focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85
}

.btn-info:active,
.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.btn-info:active:focus,
.btn-info:active:hover {
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85
}

.btn-info:active {
    background-image: none
}

.btn-info[disabled]:focus,
.btn-info[disabled]:hover {
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle
}

.btn-group>.btn {
    position: relative;
    float: left
}

.btn-group>.btn:active,
.btn-group>.btn:focus,
.btn-group>.btn:hover {
    z-index: 2
}

.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
    margin-left: -1px
}

.btn-group>.btn:first-child {
    margin-left: 0
}

.btn-group>.btn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.btn-group>.btn-group {
    float: left
}

.btn-group>.btn-group:not(:first-child):not(:last-child)>.btn {
    border-radius: 0
}

.btn-group>.btn-group:first-child:not(:last-child)>.btn:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

[data-toggle=buttons]>.btn input[type=checkbox],
[data-toggle=buttons]>.btn input[type=radio],
[data-toggle=buttons]>.btn-group>.btn input[type=checkbox],
[data-toggle=buttons]>.btn-group>.btn input[type=radio] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate
}

.input-group[class*=col-] {
    float: none;
    padding-right: 0;
    padding-left: 0
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0
}

.input-group .form-control:focus {
    z-index: 3
}

.input-group .form-control,
.input-group-btn {
    display: table-cell
}

.input-group .form-control:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0
}

.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle
}

.input-group .form-control:first-child,
.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group>.btn,
.input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.input-group .form-control:last-child,
.input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
.input-group-btn:first-child>.btn:not(:first-child),
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group>.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap
}

.input-group-btn>.btn {
    position: relative
}

.input-group-btn>.btn+.btn {
    margin-left: -1px
}

.input-group-btn>.btn:active,
.input-group-btn>.btn:focus,
.input-group-btn>.btn:hover {
    z-index: 2
}

.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group {
    margin-right: -1px
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

.label:empty {
    display: none
}

.btn .label {
    position: relative;
    top: -1px
}

.label-info {
    background-color: #5bc0de
}

.label-info[href]:focus,
.label-info[href]:hover {
    background-color: #31b0d5
}

button::-moz-focus-inner,
input::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=file]>input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
    outline: 0
}

input:focus {
    outline: 0!important
}

.form-control {
    transition: all .3s linear
}

.btn {
    transition: all .1s ease-in
}

.btn {
    border-width: 2px;
    background-color: transparent;
    font-weight: 400;
    opacity: .8;
    padding: 8px 16px;
}

.btn:active,
.btn:focus,
.btn:hover {
    opacity: 0.7;
    color: white;
}

.btn:disabled,
.btn:disabled:active,
.btn:disabled:focus,
.btn:disabled:hover,
.btn[disabled],
.btn[disabled]:active,
.btn[disabled]:focus,
.btn[disabled]:hover {
    background-color: transparent;
    border-color: #888
}

.btn.btn-fill {
    color: #fff;
    background-color: #888;
    opacity: 1
}

.btn.btn-fill:active,
.btn.btn-fill:focus,
.btn.btn-fill:hover {
    background-color: #777;
    color: #fff
}

.btn:focus,
.btn:hover {
    opacity: 1;
    outline: 0!important
}

.btn:active {
    box-shadow: none;
    outline: 0!important
}

.btn-info {
    border-color: #1dc7ea;
    color: #1dc7ea
}

.btn-info:active,
.btn-info:focus,
.btn-info:hover {
    background-color: transparent;
    color: #42d0ed;
    border-color: #42d0ed
}

.btn-info:disabled,
.btn-info:disabled:active,
.btn-info:disabled:focus,
.btn-info:disabled:hover,
.btn-info[disabled],
.btn-info[disabled]:active,
.btn-info[disabled]:focus,
.btn-info[disabled]:hover {
    background-color: transparent;
    border-color: #1dc7ea
}

.btn-info.btn-fill {
    color: #fff;
    background-color: #1dc7ea;
    opacity: 1
}

.btn-info.btn-fill:active,
.btn-info.btn-fill:focus,
.btn-info.btn-fill:hover {
    background-color: #42d0ed;
    color: #fff
}

.btn:disabled,
.btn[disabled] {
    opacity: .5
}

.form-control::-moz-placeholder {
    color: #ddd;
    opacity: 1
}

.form-control:-moz-placeholder {
    color: #ddd;
    opacity: 1
}

.form-control::-webkit-input-placeholder {
    color: #ddd;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #ddd;
    opacity: 1
}

.form-control {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    color: #565656;
    padding: 8px 12px;
    height: 40px;
    box-shadow: none
}

.form-control:focus {
    background-color: #fff;
    border: 1px solid #aaa;
    box-shadow: none;
    outline: 0!important;
    color: #333
}

.input-group .form-control:first-child {
    border-right: 0
}

.input-group .form-control:last-child,
.input-group-btn:first-child>.btn:not(:first-child) {
    border-left: 0
}

.form-control[disabled],
.form-control[readonly] {
    background-color: #f5f5f5;
    color: #888;
    cursor: not-allowed
}

.input-group-btn .btn {
    border-width: 1px;
    padding: 9px 16px
}

.input-group-btn:last-child>.btn {
    margin-left: 0
}

.card {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), 0 0 0 1px rgba(63, 63, 68, .1);
    background-color: #fff;
    margin-bottom: 70px;
    margin-top: 50px
}

.card .content {
    padding: 15px 15px 10px
}

.card .header {
    padding: 15px 15px 0
}

.card label {
    font-size: 14px;
    font-weight: 400;
    color: #9a9a9a;
    margin-bottom: 0
}

.card label {
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase
}

.card .title {
    margin: 0;
    color: #333;
    font-weight: 300
}

.card .description {
    font-size: 14px;
    color: #333
}

.card h6 {
    font-size: 12px;
    margin: 0
}

@media (min-width:992px) {
    .card form [class*=col-] {
        padding: 5px
    }
    .card form [class*=col-]:first-child {
        padding-left: 15px
    }
    .card form [class*=col-]:last-child {
        padding-right: 15px
    }
}

.custom {
    margin-right: 10px
}

.btnCustom {
    position: absolute;
    background-color: rgb(231, 15, 15);
    right: 0;
    margin-right: 15px;
    color: white;
    margin-top: 27.2px;
}

.fa-trash {
    color: white;
}