<div class="card">
    <div class="header">
        <h4 class="title">Create new superhero</h4>
    </div>
    <div class="content">
        <form [formGroup]="registerForm" (submit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group"><label>Character name</label><input #heroName class="form-control" placeholder="Character name" type="text" formControlName="heroName" [ngClass]="{ 'is-invalid': submitted && f.heroName.errors }">
                        <div *ngIf="submitted && f.heroName.errors" class="invalid-feedback">
                            <div *ngIf="f.heroName.errors.required">Character name is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group"><label for="exampleInputEmail1">Real Name</label><input #heroRealName class="form-control" placeholder="Real name" type="text" formControlName="heroRealName" [ngClass]="{ 'is-invalid': submitted && f.heroRealName.errors }">
                        <div *ngIf="submitted && f.heroRealName.errors" class="invalid-feedback">
                            <div *ngIf="f.heroRealName.errors.required">Real name is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group"><label>Profile image</label><input class="form-control" #heroImage type="file" (change)="stageHeroImageFile()" formControlName="heroImage" [ngClass]="{ 'is-invalid': submitted && f.heroImage.errors }">
                        <div *ngIf="submitted && f.heroImage.errors" class="invalid-feedback">
                            <div *ngIf="f.heroImage.errors.required">Character image is required</div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-6 ">
                    <div class="form-group"><label>Cover image</label><input class="form-control" #heroCoverImage type="file" (change)="stageHeroCoverImageFile()" formControlName="heroCoverImage" [ngClass]="{ 'is-invalid': submitted && f.heroCoverImage.errors }">
                        <div *ngIf="submitted && f.heroCoverImage.errors" class="invalid-feedback">
                            <div *ngIf="f.heroCoverImage.errors.required">Character cover image is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" row ">
                <div class="col-md-6">
                    <div class="form-group"><label>Birthday</label><input class="form-control" #heroBirthday placeholder="Birthday" type="date" formControlName="heroBirthday" [ngClass]="{ 'is-invalid': submitted && f.heroBirthday.errors }">
                        <div *ngIf="submitted && f.heroBirthday.errors" class="invalid-feedback">
                            <div *ngIf="f.heroBirthday.errors.required">Birthday is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group"><label>Gender</label><br>
                        <select formControlName="heroGender" class="form-control" name="Gender" #heroGender [ngClass]="{ 'is-invalid': submitted && f.heroGender.errors }">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <div *ngIf="submitted && f.heroGender.errors" class="invalid-feedback">
                            <div *ngIf="f.heroGender.errors.required">Gender is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group"><label>Character description</label><textarea #heroDescription class="form-control" placeholder="Character description..." rows="5" formControlName="heroDescription" [ngClass]="{ 'is-invalid': submitted && f.heroDescription.errors }"></textarea>
                        <div *ngIf="submitted && f.heroDescription.errors" class="invalid-feedback">
                            <div *ngIf="f.heroDescription.errors.required">Description is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <label>Add movies (Optional)</label><br><svg (click)="addMovie()" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="50px" height="50px" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); cursor: pointer;"
                    preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M346.5 240H272v-74.5c0-8.8-7.2-16-16-16s-16 7.2-16 16V240h-74.5c-8.8 0-16 6-16 16s7.5 16 16 16H240v74.5c0 9.5 7 16 16 16s16-7.2 16-16V272h74.5c8.8 0 16-7.2 16-16s-7.2-16-16-16z" fill="#626262"/><path d="M256 76c48.1 0 93.3 18.7 127.3 52.7S436 207.9 436 256s-18.7 93.3-52.7 127.3S304.1 436 256 436c-48.1 0-93.3-18.7-127.3-52.7S76 304.1 76 256s18.7-93.3 52.7-127.3S207.9 76 256 76m0-28C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48z" fill="#626262"/></svg>
            </div>
            <div formArrayName="movieTitle">
                <div class="form-group" *ngFor="let movie of movieTitleFormGroup.controls; let i = index;">
                    <label>Movie Title {{i + 1}}</label>
                    <a class="btn pull-right btnCustom" (click)="removeMovie(i)"><i class="fa fa-trash"></i></a>
                    <input #movieTitle class="form-control" placeholder="Movie title" [formControlName]="i">
                </div>
            </div>
            <button class="btn btn-info btn-fill pull-right" type="submit" (click)="add(heroName.value, heroDescription.value, heroRealName.value, heroBirthday.value, heroGender.value, movieTitle);">Create
                Hero
            </button>
            <button class="btn btn-fill pull-right custom" type="reset" (click)="onReset()">Clear form</button>
            <div class="clearfix "></div>
        </form>
    </div>
</div>